<% layout('layouts/boilerplate') %>

<div id="map" style="width:100% ; height: 500px;"></div>

    <h1>All Hangouts</h1>

    <div>
        <a href="/hangouts/new">Add Hangout</a>
    </div>


    <% for(let hangout of hangouts){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">

                    <%if(hangout.images.length){ %>
                      <img src="<%=hangout.images[0].url %>" alt="" class="img-fluid">
                   <% } else{ %>
                    <img src="https://res.cloudinary.com/dxyu04ati/image/upload/v1697563804/HangOut/nvqdrzomiruge7bfgnlb.png" alt="" class="img-fluid">
                    <% } %>

                </div>
                
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%=hangout.name %>
                        </h5>
                        <p class="card-text">
                            <%=hangout.description%>
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%=hangout.location%>
                            </small>
                        </p>
                        <a href="/hangouts/<%=hangout._id%>" class="btn btn-primary">View <%=hangout.name%></a>
                    </div>
                </div>
            </div>
        </div>

        <% }%>

        <script>
            const mapBoxToken = "<%=process.env.MAPBOX_TOKEN%>"
            const hangouts = {features: <%-JSON.stringify(hangouts)%>}
        </script>

        <script src="/javascripts/clusterMap.js"></script>